# -- folders to ignore/exclude --
plugins/
.vscode/
docs/
save/
logs/
raycast/
lf/
.raycast/
gh/
git/
glab-cli/
.claude/
claude/
htop/
bat/
crossnote/

# -- ignore the following --
Dependent_vars
.zsh_*
.zcompdump
*.log
*.timestamp
*.zip
.DS_Store
CLAUDE.md

# -- force NOT to ignore --
! README.md
! .gitignore
! .config/nnn/
